.App {
  text-align: left;
  display: flex;
  margin: 0 auto;
  max-width: 1028px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.links {
  text-decoration: none;
}

.side-bar {
  padding: 10px;
  width: 25%;
  background: #D3D2D3;
  height: 100vh;
}

.view-notes {
  background: #24B8BD;
  color: white;
  margin: 0 0 10px 0;
  height: 50px;
  text-align: center;
}

.new-note {
  background: #24B8BD;
  color: white;
  height: 50px;
  text-align: center;
}


.notes-container {
  width: 75%;
  background: #F2F1F2;
} 

.note-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
}

.note-link{
  text-decoration: none;
  color:  #4A494A;
}

.note {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  margin: 5px;
  background: white;
  text-decoration: none;
}

.note-header {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.note-line {

}

.note-content {
  display: flex;
  align-items: flex-end;
}

.e_d-buttons{
  display: flex;
  justify-content: flex-end;
  margin: 20px;

}

.edit-button {
  margin: 0 10px 0 0;
}

.edit-link {
  color:  #4A494A;
  font-weight: bold;
}

.delete-link {
  color:  #4A494A;
  font-weight: bold;
}

.delete-container {
  display: 
}